.reveal-section {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(5px); /* Dhundla effect */
  transition: all 0.8s ease-out;
}

.reveal-section.is-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0); /* Clear effect */
}